.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

img {
  width: 100%;
}

h1{
  color:white;
  font-family: 'Squada One', cursive;
  padding-left: 40px;
  padding-top:20px;
}

h3{
  color:white;
  font-family: 'Squada One', cursive;
  padding-left: 50px;
  padding-top:20px;
}

h5 { 
  font-family: 'Squada One', cursive;
  text-align: right;
  color:yellow;
  padding-right: 80px;
  padding-bottom: 20px;
}
h6{
  font-family: 'Squada One', cursive;
}

Table{
  background-color: lightgrey;
  
}
.tableGroup {
  padding-right:50px;
  padding-left:50px;
}
.buttongroup { 
  padding-left: 50px;
  padding-bottom:30px;
  padding-top:20px;
}
.gridGroup {
  padding-right:25px;
  padding-left:25px;
}
